/* Estilos generales */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin: auto;
  }
  
  /* Input y botón con margen */
  .login-logo {
    width: 80%; /* Máximo ancho para pantallas más grandes */
    margin-bottom: 20px;
  }
  

  
  
  